 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Unsere Motivation</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Muss das sein?</h3>
                    <p>Zu beginn jedes Semesters ist es immer das selbe. Mühsame Quälerei durch das Vorlesungsverzeichnis, stundenlange Arbeit bis man den für sich optimalen Stundenplan erarbeitet hat. Einige bringen ihren Stundenplan mühsam per Hand zu Papier, andere tragen ebenso aufwändig jeden Termin in Ihre Kalender ein. Damit ist jetzt Schluss!</p>
                </div>
                <div class="col-lg-4">
                <h3>Nein!</h3>
                    <p>Wir haben ein praktisches Google Chrome Plug-In geschrieben, dass für euch die Daten auswertet und als handliche Kalenderdatei exportiert. Diese könnt ihr nun in euren persönlichen Wunschkalender importieren und direkt loslegen.       Viel Spaß :)</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline" disabled="disabled">
                        <i class="fa fa-download"></i> Bald Verfügbar
                        <i class="fa fa-download"></i> Klick Anleitung 
                    </a>
                </div>
            </div>
        </div>
    </section>
