 <!-- About Section -->
    <section class="primary" id="download">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Download</h2>
                    <hr class="star-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <button type="button" onclick="chrome.webstore.install()" class="btn btn-lg btn-outline" id="install-button">
                        <i class="fa fa-download"></i> Installieren <i class="icon-chrome"></i>
                            <script>
                                if (document.getElementById('extension-is-installed')) {
                                        document.getElementById('install-button').disabled = true;
                                        document.getElementById('install-button').textContent = "Bereits installiert";
                                }
                           </script>
                    </button>
                    <ul class="list-unstyled">
                        <br/>
                        <li><span class="fa fa-download"></span> &nbsp; <a href="https://chrome.google.com/webstore/detail/pfmhnjhlejjncbbmkopeeinhiolpccon" target="_blank">Direktlink zum Chrome Web Store</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <hr class="star-dark">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <ul class="list-unstyled">
                        <li><span class="fa fa-caret-square-o-right "></span> &nbsp; <a href="https://www.tu-ilmenau.de/vlv/index.php?id=6" target="_blank">Erfolgreich installiert? Los gehts!</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <hr class="star-dark">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <ul class="list-unstyled">
                        <li><span class="icon-os-win-04"></span> &nbsp; <a href="downloads/Klick-Anleitung-Outlook.pdf" target="_blank">Anleitung zum importieren in Outlook</a></li>
                        <li><span class="icon-os-apple"></span> &nbsp; <a href="downloads/Klick-Anleitung-Apple.pdf" target="_blank">Anleitung zum importieren in Apple Calendar</a></li>
                        <li><span class="icon-google"></span> &nbsp; <a href="downloads/Klick-Anleitung-Google.pdf" target="_blank">Anleitung zum importieren in Google Calendar</a></li>
                        <li><span class="icon-brw-firefox"></span> &nbsp; <a href="downloads/Klick-Anleitung-Thunderbird.pdf" target="_blank">Anleitung zum importieren in Thunderbird</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
